Salesforce LWC/force-app/main/default/flows/RTF_Update_Description_when_Amount_is_greater_than_10000.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>AddCommentInDescription</description>
        <name>AddCommentInDescription</name>
        <label>AddCommentInDescription</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Revenue Changed More than 10000</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if amount ivalue is greater than 100000 than previous amount value</description>
        <name>Check_if_amount_ivalue_is_greater_than_100000_than_previous_amount_value</name>
        <label>Check if amount value is greater than 100000 than previous amount value</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>previousAmountValuePlus10000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCommentInDescription</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <description>RTF : Update Description when Amount is greater than 10000</description>
    <environments>Default</environments>
    <formulas>
        <name>previousAmountValuePlus10000</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Amount} + 10000</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RTF : Update Description when Amount is greater than 10000 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF : Update Description when Amount is greater than 10000</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_amount_ivalue_is_greater_than_100000_than_previous_amount_value</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
