Salesforce LWC/force-app/main/default/flows/Screen_Flow_invoke_from_LWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assighnment_operation</name>
        <label>Assighnment operation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>outputAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputOperationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operation_Type</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Screen : Flow invoke from LWC</description>
    <environments>Default</environments>
    <interviewLabel>Screen : Flow invoke from LWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Flow invoke from LWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Values_from_LWC</name>
        <label>Display Values from LWC</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assighnment_operation</targetReference>
        </connector>
        <fields>
            <name>Account_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountId</elementReference>
            </defaultValue>
            <fieldText>Account Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Operation_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OperationType</elementReference>
            </defaultValue>
            <fieldText>Operation Type</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Display_Values_from_LWC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OperationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputOperationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
