Salesforce LWC/force-app/main/default/flows/Screen_Publish_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Screen: Publish Event</description>
    <environments>Default</environments>
    <interviewLabel>Screen: Publish Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Publish Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_Event_Using_FLow</name>
        <label>Publish Event Using FLow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Generate_Invoice__c</field>
            <value>
                <elementReference>Input_Generate_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Number__c</field>
            <value>
                <elementReference>Input_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Details__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Platform_Event_Using_Flow</name>
        <label>Platform Event Using Flow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Publish_Event_Using_FLow</targetReference>
        </connector>
        <fields>
            <name>Input_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Input Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Generate_Invoice</name>
            <dataType>Boolean</dataType>
            <fieldText>Input Generate Invoice</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Publish Event</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Platform_Event_Using_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
