Salesforce LWC/force-app/main/default/flows/Screen_Invocable_Method.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Date_Operations</name>
        <label>Date Operations</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>01p5g00000pfo8NNotFound</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfMonths</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>addMonths</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varOutputDate</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Invocable Method to display Message</description>
        <name>Invocable_Method_to_display_Message</name>
        <label>Invocable Method to display Message</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>WelcomeClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputName</name>
            <value>
                <stringValue>Samir</stringValue>
            </value>
        </inputParameters>
        <nameSegment>WelcomeClass</nameSegment>
        <outputParameters>
            <assignToReference>varWelcomeMessage</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screen: Invocable Method {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: Invocable Method</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Output_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOutputDate</elementReference>
            </defaultValue>
            <fieldText>Output Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Date_Operations</targetReference>
        </connector>
        <fields>
            <name>welcomemessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$User.Username}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!varWelcomeMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invocable_Method_to_display_Message</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varOutputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWelcomeMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
