Salesforce LWC/force-app/main/default/flows/Screen_Passing_Value_from_FLow_to_LWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>StrValue</name>
        <label>StrValue</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>arreyofstring</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>first</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arreyofstring</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Second</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arreyofstring</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Third</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arreyofstring</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Fourth</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sreen</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Screen : Passing Value from FLow to LWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Passing Value from FLow to LWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>sreen</name>
        <label>sreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowtolwc</name>
            <extensionName>c:lwcToFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputValue</name>
                <value>
                    <elementReference>arreyofstring</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StrValue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>arreyofstring</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
