Salesforce LWC/force-app/main/default/flows/Screen_Invocable_Method_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>class</name>
        <label>class</label>
        <locationX>505</locationX>
        <locationY>365</locationY>
        <actionName>FlowClassCI10B</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>inputName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowClassCI10B</nameSegment>
        <outputParameters>
            <assignToReference>acclountList</assignToReference>
            <name>accList</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Active_Account</name>
        <label>Assign Active Account</label>
        <locationX>900</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>activeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fromFLow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InActive_Account</name>
        <label>Assign InActive Account</label>
        <locationX>912</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>inActiveList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fromFLow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_formFlow</name>
        <label>Assign to formFlow</label>
        <locationX>565</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>fromFLow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>inputScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_Inactive</name>
        <label>Check Active Inactive</label>
        <locationX>927</locationX>
        <locationY>438</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Account</targetReference>
            </connector>
            <label>isActive</label>
        </rules>
        <rules>
            <name>inActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Account.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_InActive_Account</targetReference>
            </connector>
            <label>inActive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen : Invocable Method 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Invocable Method 2</label>
    <loops>
        <name>Loop_on_Account</name>
        <label>Loop on Account</label>
        <locationX>697</locationX>
        <locationY>343</locationY>
        <collectionReference>acclountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Active_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_to_formFlow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Account_Record_Display</name>
        <label>Account Record Display</label>
        <locationX>261</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayAccounts</name>
            <extensionName>c:flowComponentCIB10</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accList</name>
                <value>
                    <elementReference>acclountList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>93</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;ERROR&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inputScreen</name>
        <label>inputScreen</label>
        <locationX>410</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>class</targetReference>
        </connector>
        <fields>
            <name>input</name>
            <extensionName>c:flowComponentCIB10</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputValue</name>
                <value>
                    <elementReference>inputName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accList</name>
                <value>
                    <elementReference>activeList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fromFlow</name>
                <value>
                    <elementReference>fromFLow</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>inputName</assignToReference>
                <name>inputValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>389</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>inputScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>acclountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>activeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>fromFLow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inActiveList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>inputName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
