Salesforce LWC/force-app/main/default/flows/Screen_Create_Record_Flow_Invoke_from_LWC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Screen : Create Record Flow Invoke from LWC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen : Create Record Flow Invoke from LWC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Record1</name>
        <label>Create Account Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Account_record</name>
        <label>Create Account record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account_Record1</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Account_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
